<div class="container">
  <div class="container">
    <div class="row">

      <h3>Your Job Application for the Position:
        <%= @application.job.position%>
      </h3>
      <div class="col-sm-offset-4 col-sm-4">
<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Current company:</strong>
  <%= @application.current_company %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @application.linkedin %>
</p>

<p>
  <strong>Add info:</strong>
  <%= @application.add_info %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @application.race %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @application.disability %>
</p>

<p>
  <strong>User:</strong>
  <%= @application.user.id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @application.job.id %>
</p>

<%= link_to 'Edit', edit_application_path(@application),  class: 'btn btn-primary btn-lg'  %>
<%= link_to 'Back', applications_path, class: 'btn btn-warning btn-lg' %>
      </div>
    </div>
  </div>
</div>