<div class="container" id="job-form">
  <div class="row">
    <h4 class="text-center">Please add the given details</h4>

    <div class="col-sm-offset-4 col-sm-4">
  <%= bootstrap_form_for(@job) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :job_position %>
  </div>

  <div class="field">
    <%= form.label :job_description %>
    <%= form.text_field :job_description, id: :job_job_description %>
  </div>
        <% if current_user.isAdmin? %>
          <div class="field">
            <%= form.label :company_id %>
          <%= form.select :company_id, options_for_select(Company.all.map{ |c| [c.name, c.id]}), selected_key: [form.object.company, form.object.company_id]%>
          </div>
          <% end %>

  <div class="field">
    <%= form.label :employment_type %>
    <%= form.select :employment_type, ['Full Time', 'Internship', 'Co-op', 'Contract']%>
  </div>

  <div class="field">
    <%= form.label :responsibilities %>
    <%= form.text_field :responsibilities, id: :job_responsibilities %>
  </div>

  <div class="field">
    <%= form.label :requirements %>
    <%= form.text_field :requirements, id: :job_requirements %>
  </div>
        <%= form.hidden_field :isClosed, value: false%>

  <div class="actions">
    <%= form.submit 'Create Job', class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
    </div>
  </div>
</div>
