<h1>Jobs</h1>
<div class="container">
  <div class="container container-fluid">
    <div class="col-sm-offset-9 col-sm-3 right">
      <%= current_user.isRecruiter%>
      <%= current_user.isAdmin%>
      <% if current_user.isRecruiter=='True' or current_user.isRecruiter?%>
      <%= link_to 'New Job', new_job_path, class: 'btn btn-info btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
</div>
<table class="table" style="table-layout: fixed; height: auto; overflow: auto">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Position</th>
      <th width="150px">Job description</th>
      <th>Employment type</th>
      <th width="150px">Responsibilities</th>
      <th width="150px">Requirements</th>
      <th>Company Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <div id="display_jobs" class="list-group-item-text">
      <tr style="height: 100%; overflow: auto">
        <td><%= job.id %></td>
        <td><%= job.position %></td>
        <td style="overflow: hidden; text-overflow: ellipsis; height:auto;"><%= job.job_description%></td>
        <td><%= job.employment_type %></td>
        <td><%= job.responsibilities %></td>
        <td><%= job.requirements %></td>
        <td><%= job.company.name %></td>
        <td><%= link_to 'Show', job , class: 'btn btn-primary btn-lg btn-block' %></td>
        <% if (current_user.isRecruiter=='True' or current_user.isRecruiter?) and current_user.companyname == job.company.name%>
        <td><%= link_to 'Edit', edit_job_path(job), class: 'btn btn-warning btn-lg btn-block' %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg' %></td>
        <% end %>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<br>
