<div class="container">
  <div class="container">
    <div class="row">

      <h2> <%= @job.position %> position at <%= @job.company.name %> </h2>

      <h3>Job ID:
        <%= @job.id%>
      </h3>


      <div class="col-sm-offset-4 col-sm-4">
<p style="overflow: auto; width: 100%; height: auto">
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<p>
  <strong>Employment type:</strong>
  <%= @job.employment_type %>
</p>

<p>
  <strong>Responsibilities:</strong>
  <%= @job.responsibilities %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @job.requirements %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company.name %>
</p>
        <% if (current_user.isRecruiter=='True' or current_user.isRecruiter==true) and current_user.companyname == @job.company.name%>
<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary btn-lg' %>
        <% end %>
<%= link_to 'Back', jobs_path, class: 'btn btn-warning btn-lg'  %>
    </div>
  </div>
</div>
</div>