<!DOCTYPE html>
<html>
  <head>
    <title>Woodendoor</title>
    <%= csrf_meta_tags %>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-info div-notice">
          <a href="#" class="alert-link"><%= notice %></a>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-warning div-alert">
          <a href="#" class="alert-link"><%= alert %></a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div class="container">
  <footer class="footer text-center navbar-fixed-bottom navbar-text">
      <p class="small">Copyright &copy; WoodenDoor 2018</p>
      <p class="small">CSC 517 - OODD - Program 2</p>
  </footer>
  </div>
  </body>
  <script type="text/javascript">
      $(".alert-info" ).fadeOut(5000);
      $(".alert-warning" ).fadeOut(5000);
  </script>
  <script type="text/javascript">
      var checkbox = document.getElementById('user_isRecruiter');
      var details_div = document.getElementById('company_details');
      checkbox.onchange = function() {
          if(this.checked) {
              details_div.style['display'] = 'block';
          } else {
              details_div.style['display'] = 'none';
          }
      };
  </script>
</html>